@import 'reset.css';

@font-face {
    font-family: vazirNormal;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vazir.woff2') format('woff2'),
        url('../fonts/vazir.woff') format('woff'),
        url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body,
input,
button {
    font-family: 'vazirnormal';
}

body {

    direction: rtl;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

/* header */
.conteiner {
    width: 1200px;
    margin: auto;

}

#header {
    width: 100%;
    height: 700px;
    background: linear-gradient(195deg, rgba(13, 71, 161, 1) 0%, rgba(30, 136, 229, 1) 100%);

}

/* 
#header .conteiner .logo{
    float: right;
    padding: 10px;
    
} */

/* #header .logo img {
    width: 60px;
} */

/* navicgaion */
#nav {
    float: left;
    padding-top: 20px;
}

#nav ul li {
    display: inline-block;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 15px 10px;
    transition: 0.25s;
}

#nav ul li a:hover {
    border-bottom: 2px solid #fff;
    transition: 0.25s;
}

#nav svg {
    font-size: 23px;
    margin-left: 8px;
    vertical-align: -6px;
}

#nav .store svg {
    font-size: 20px;
}

/* subscribe*/
#subscribe {
    text-align: center;
    padding: 50px;
}

#subscribe .title {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
}

#subscribe .subtitle {
    font-size: 25px;
    color: #fff;
    padding: 40px 0;
}

.form .email {
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;

}

.form .submit-btn {
    background-color: #212326;
    color: #fff;
    padding: 15px 25px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);

}

.form .submit-btn:hover {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: 0.25s;
}

.form .submit-btn svg {
    margin-right: 6px;
    vertical-align: -5px;
    font-size: 15px;

}

#subscribe .desc {
    color: #fff;
    padding-top: 40px;

}

#subscribe .header-image {
    margin-top: 50px;
}

/* why us */
#whyus {
    margin-top: 250px;
    text-align: center;
}

#whyus .item {
    width: 30%;
    padding: 20px;
    margin: 15px;
    text-align: right;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
    transition: 0.25s;

}

#whyus .item:hover {
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%);
}

#whyus .logo svg {
    font-size: 50px;
    color: rgb(13, 71, 161);
}

#whyus .title {
    font-size: 23px;
    padding: 15px 0;
    font-weight: bold;
}

#whyus .disc {
    font-size: 15px;
    line-height: 25px;
}

#customers {
    width: 100%;
    height: 200px;
    margin-top: 50PX;
    background-image: url('../images/ny.jpeg ');
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

#customers h2 {
    font-size: 40px;
    padding: 20px 0;
    color: #fff;
}

#customers h2:before {
    content: '.:  ';
}

#customers h2:after {
    content: ' :.';
}

#customers ul li {
    display: inline-block;
    margin-right: 80px;
    margin-top: 20px;


}

#customers ul li img {
    width: 150px;

}

#customers ul li img:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* start post secion */
#post .title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    padding: 20px 0;
}

#post .post-item {
    width: 30%;
    height: 300px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
    margin: 20px 15px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
}

#post .post-item:hover {
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
    transition: 0.25s;
}

#post .post-title {
    padding: 10px 5px;
    font-size: 20px;

}

#post .post-title a {
    text-decoration: none;
    color: #1c1c1c;
}

#post .post-title a:hover {
    color: #404040;
}

#post .post-deta {
    font-size: 14px;
}

#post .post-date {
    position: absolute;
    bottom: 5px;
    right: 5;
}

#post .readmore {
    position: absolute;
    bottom: 5px;
    left: 5px;

}

#post .readmore a {
    text-decoration: none;
    color: #404040;
    ;
}

#post .readmore a:hover {
    color: #2b2b2b;
}

#post .post-image img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
 /* top-link  */
 .img-top{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 10px;
    bottom: 120px;
    display: none;
 }
 .img-top:hover{
    cursor: pointer;
 }
/* footer */
#footer {
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 30px;
    text-align: center;
}

#footer .socials li {
    display: inline-block;
    margin-right: 15px;
}
#footer .socials  svg{
    font-size: 30px;
    margin-top: 10px;
}
#footer .socials a{
    color: #3d3d3d;
}
#footer .socials a:hover{
    color:#262626 ;
    cursor: pointer;
}
#footer .copyrit{
    padding: 10px 0;
    background-color: #424242;
    color: #fff;
    margin-top: 20px;
    padding-bottom: 20px;
  
}